
html{ overflow-x: hidden; }
body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    margin:0;
}


h1, h2, h3, h4, h5, h6{
    font-family: Helvetica, Arial;
    margin:0;
}
h1{
    line-height: 100px;
    color:white;
}
h2 {
    color:white;
}
h3 {
    font-size: 30px;
    padding-top:50px;
    padding-bottom:60px;
    padding-left:30px;
}
h4{
    line-height: 60px; /* 300px/3=3px ;  3px=1%  Höhe20% => 20*3px = 60px */
    font-size: 25px;

    position: relative;
    left:25px;
}
h5{
    font-size: 12px;
    line-height: 12px;
    
}
h6 {
    padding-bottom:5px;
    font-weight: bold;
    font-size:18px;
    line-height: 18px;
    padding-right:5px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    color:#aaa;
    font-size: 18px;
    display: block;
    top:31px;
    left:5px;
    position: relative;
    opacity: 0;
  }

.header{
    width: 100vw;
    height:100px;
    background-color: #333;
    position: fixed;
    color:white;
    top:0;
    left:0;
    z-index: 100;
    border:0;
    border-bottom: 3px solid teal;
}
.header h1{
    display: inline-block;
    padding:0;
    margin:0;
    margin-left: 30px;
}
.header h2{
    line-height: 100px;
    position: relative;
    right:30px;
    float:right;
    cursor: pointer;
}

.container{
    
    height:85vh;
    text-align: center;
    margin-top:100px;
    border:0;
}
.main{
    width:1005px;
    background-color: #333;
    height:auto;
    text-align: left;
    margin: 0 auto;
    padding:60px;
}
.admin h4, #overview h4, #overview + h4 {
    color:white;
    border-bottom: 1px solid #ccc;
    position: initial;
    padding-left: 20px;
    padding-right:20px;
}
#overview + h4{
    background-color: teal;
}
#overview h4:last-of-type{
    border-bottom: 3px solid white;
}
.admin h4:last-of-type{
    border-bottom: 0 !important;
}
.main span {
    float:right;
}
#overview {
    margin-top:50px;
}

.main h2{
    margin-top:30px;
    margin-bottom:20px;
}
.h5_Btn{
    color:white;
    float:right;
    font-weight: 400;
    font-size:16px;
}
.h5_Btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main input[type=text], .main input[type=email], .main input[type=pwd] {
    border:none;
    border-bottom:1px solid #ccc;
    background-color: transparent;
    font-size: 28px;
    color:white;
    padding: 5px 0px 5px 0px;
    outline: none;
    display: block;
    margin-bottom:30px;
    transition: .3s;
    border-radius:0;
}
.main input[type=text]:focus, .main input[type=email]:focus, .main input[type=pwd]:focus {
    border-bottom:1px solid teal;
}
.main input[type=submit], input[type=button] {
    margin-top:30px;
    font-size: 24px;
    line-height: 24px;
    width: auto;
    padding: 8px 14px;
    border-radius:30px;
    border: 1px solid #ccc;
    background-color: transparent;
    color:#ccc;
    transition: .3s;
    display: block;
}
.main input[type=submit]:hover, input[type=button]:hover {
    background-color: #008080;
    color:white;
    border: 1px solid white;
    cursor: pointer;
}

#form {
    width:100%;
    margin-top: 50px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    width: 1020px;
    height:auto;
    min-height: 200px;
    
    padding:15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.flexbox > div, #preview {
    background-color: #f1f1f1;
    width: 300px;
    margin: 15px;
    text-align: center;
    /*line-height: 75px;*/
    font-size: 30px;
    height:401px;
    border-radius:5px;
}
#addItemForm {
    display: inline-block;
}
#previewDiv {
    margin-left:150px;
    display: none;
   
}
#previewDiv:after{
    content: "Vorschau";
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.itemHeading {
    height:60px;
    background-color: #aaa;
    text-align: left;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.itemImage {
    height:190px;
    background-color: white;
}
.itemImage img{
    height:auto;
    max-height: 190px;
    max-width: 300px;
}
.itemDescription {
    text-align: left;
    height:70px;
    background-color: #aaa;
    padding:10px;
    border-bottom:1px solid grey;
}
.itemOrder {
    text-align: center;
    height:40px;
    background-color: #aaa;
    padding:10px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.itemOrder button {
    font-size: 16px;
    line-height: 16px;
    width: auto;
    padding: 8px 14px;
    border-radius:30px;
    border: 1px solid #333;
    background-color: transparent;
    color:#333;
    transition: .3s;
}
.itemOrder button:hover {
    background-color: #008080;
    color:white;
    border: 1px solid white;
    cursor: pointer;
}

.circleRed, .circleOrange, .circleGreen {
    height:25px;
    width:25px;
    border-radius:50%;
    float: left;
    top:17px;
    left:15px;
    position: relative;
}
.circleRed {
    background-color: red;
}
.circleOrange {
    background-color: orange;
}
.circleGreen {
    background-color: green;
}


.onList .itemOrder {
    background-color: teal;
}
.onList button{
    background-color:rgb(87, 65, 81);
    color:#ccc;
}
.onList button:hover{
    background-color: #330a28;
}

.disabled{
    opacity: 0.5;
    border: 0;
}


.disabled button:hover{
    cursor: no-drop;
    background-color:transparent;
    color: #333;
    border:1px solid #333;
}

#basketOverlay {
    position: fixed;
    top:0;
    right:0;
    background-color: #666;
    z-index: 101;
    width: 200px;
    text-align: left;
    padding:10px;
    margin-top: 100px;
    display: none;
}
#basketOverlay h4{
    font-size:18px;
    line-height: 18px;
    color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
}
#basketOverlay h4:last-of-type{
    border-top: 3px solid #888;
    border-bottom: 0px;
}
#basketBtnDiv {
    text-align: center;
    
}
#checkoutBtn {
    padding: 5px 12px;
    border: 1px solid #333;
    border-radius:30px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom:10px;
    background-color: teal;
    transition: .3s;
    
}
#checkoutBtn:hover{
    cursor: pointer;
    border: 1px solid white;
    color:white;
}
#overview h4{
    font-weight: normal;
}

.display {
    display:block !important;
}



.admin div{
    height:6px;
    width:6px;
    margin: 7px;
    border-radius: 50px;
    background-color: white;
    margin-left: 50px;
    
}
.admin h4 {
    cursor: pointer;
    transition: .3s;
}
form h6, #error{
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding:5px 12px;
    background-color: rgba(255, 0, 0, 0.603);
    display: none;
}
#error {
    margin-top: 20px;
}
.admin h4:hover{
    background-color:#444;
}
.admin span div:first-of-type{
    margin-top:13px;
}
#toggleStateOverlay, #deleteOverlay{
    background-color: rgba(1, 1, 1, 0.8);
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 2;
    text-align: center;
    display: none;
}
#toggleStateDiv, #deleteOverlayDiv{
    border-radius: 5px;
    position: relative;
    width:400px;
    padding:40px;
    background-color: #333;
    margin: 0 auto;
    top: 400px;
}
#toggleStateDiv img, #deleteOverlayDiv img{
    width:70px;
    height:70px;
}
#toggleStateDiv h2{
    font-weight: normal;
}
#toggleStateOverlay button, #deleteOverlay button{
    border: 1px solid #ccc;
    font-size:24px;
    padding:5px 12px;
    margin-top:30px;
    background-color: transparent;
    color:#ccc;
    transition: .3s;
}
#toggleStateOverlay button:hover, #deleteOverlay button:hover{
    border: 1px solid white;
    color:white;
    cursor: pointer;
}
#toggleStateOverlay button:first-of-type:hover, 
#deleteOverlay button:first-of-type:hover{
    background-color: teal;
}
#toggleStateOverlay button:last-of-type:hover,
#deleteOverlay button:last-of-type:hover{
    background-color: rgb(185, 33, 33);
}

.checkout h3{
    color:white;
    background-color: rgba(25, 168, 168, 0.178);
    display: inline-block;
    padding:5px 12px;
    margin: 0;
    transition: .3s;
}

.active {
    background-color: teal !important;
}
.checkout h3:hover {
    background-color:teal;
    cursor: pointer;
}
.checkout form{
    margin-top:30px;
}


.mesContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
}
.mesDiv {
    width:600px;
    height:auto;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #333;
    color:white;
    padding:40px;
    font-weight: normal;
}
.mesDiv h5{
    font-weight: 400;
    margin-top:50px;

}
a {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#error.displayError {
    display: inline-block;
}






/*ANIMATION*/


.move{
    position: relative;
    animation: move;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
   
    top:31px;
    left:5px;
    opacity: 0;
  }
  .moveBack{
    position: relative;
    animation: moveBack;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    
  
    top:0px;
    left:0px;
    opacity: 1;
  }

  @keyframes move {
    from{
      top:0px;
      left:0px;
      opacity: 1;
    }
    to{
      top:31px;
      left:5px;
      opacity: 0;
      
    }
  }
  @keyframes moveBack {
    from{
      top:31px;
      left:5px;
      opacity: 0;
    }
    to{
      top:0px;
      left:0px;
      opacity: 1;
    }
  }



  /*RESPONSIVE*/

@media only screen and (max-width: 1125px){
    .main{
        width:100vw;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 930px){
    #toggleStateDiv, #deleteOverlayDiv{
        top:300px
    }
}
@media only screen and (max-width: 700px){
    #toggleStateDiv, #deleteOverlayDiv{
        top:200px
    }
}
@media only screen and (max-width: 680px){
    .mesDiv{
        width: 100vw;
        padding:20px;
        box-sizing: border-box;
    }
    .mesDiv h2 {
        font-size:20px;
    }
    .mesDiv h5, .mesDiv a {
        line-height:12px;
        font-size:10px;
    }
}

@media only screen and (max-width: 643px){
    .header h1{
        font-size:28px;
        line-height:70px;
    }
    .header h2 {
        line-height:70px;
    }
    .header{
        height:70px;
    }
    #basketOverlay {
        margin-top:70px;
    }
    .container {
        margin-top: 70px;
    }
    .main h5{
        float: none;
        margin-top:60px;
    }
}
@media only screen and (max-width: 480px){
    #toggleStateDiv, #deleteOverlayDiv{
        margin:0;
        width:100vw;
        box-sizing: border-box;
    }
   

}
@media only screen and (max-width: 475px){
    .main{
        padding:20px;
    }
    .main input{
        width:100%;
    }
    #error {
        text-align: center;
        margin: 0 auto;
        margin-top:20px;
    }
    #error.displayError {
        display: block;
    }
}

@media only screen and (max-width: 440px){
    form {
        width:95%;
        margin: 0 auto;
    }
    #previewDiv {
        width:95%;
    }
    #preview {
        width: 100%;
    }
    #previewImage {
        max-width:100%;
    }
}




