.flexbox {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    width: 440px;
    height:40vh;
    min-height: 200px;
    overflow-y: scroll;
    padding:10px;
}
.flexbox > div {
    background-color: #f1f1f1;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
img{
    width:100%;
}
center {
    margin-top:30vh;
}