h1, h2, h3, h4, h5, h6{
    font-family: Helvetica, Arial;
    margin:0;
}
h1{
    line-height: 100px;
}
h3 {
    font-size: 30px;
}
h4{
    line-height: 60px; /* 300px/3=3px ;  3px=1%  Höhe20% => 20*3px = 60px */
    font-size: 25px;

    position: relative;
    left:25px;
}
h5{
    font-size: 12px;
    line-height: 12px;
}

.header{
    width: 100vw;
    height:100px;
    background-color: #333;
    position: fixed;
    color:white;
    top:0;
    left:0;
}
.header h1{
    display: inline-block;
    padding:0;
    margin:0;
    margin-left: 30px;
}
.header h2{
    
    position: relative;
    right:30px;
    float:right;
}

.container{
    width:100vw;
    height:2000px;
    text-align: center;
    margin-top:100px;
}
.main{
    width:1100px;
    background-color: #aaa;
    height:100%;
    text-align: left;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    background-color: teal;
    width: 1005px;
    height:800px;
    min-height: 200px;
    
    padding:15px;
    margin: 0 auto;
    
    overflow-y: scroll;
}
.flexbox > div {
    background-color: #f1f1f1;
    width: 300px;
    margin: 15px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.item {
    height:300px;
    width:300px;
}
.itemHeading {
    height:20%;
    background-color: #aaa;
    text-align: left;
}
.itemImage {
    height:60%;
}
.itemImage img{
    height:100%;
}
.itemDescription {
    text-align: left;
    height:20%;
    background-color: #aaa;
    padding:10px;
}

.circlered {
    height:25px;
    width:25px;
    border-radius:50%;
    background-color: red;
    float: left;
    top:15px;
    left:15px;
    position: relative;
}
.circleorange {
    height:25px;
    width:25px;
    border-radius:50%;
    background-color: orange;
    float: left;
    top:15px;
    left:15px;
    position: relative;
}
.circlegreen {
    height:25px;
    width:25px;
    border-radius:50%;
    background-color: green;
    float: left;
    top:15px;
    left:15px;
    position: relative;
}
